<hibernate-configuration> <session-factory>
    <property name="hibernate.dialect"> org.hibernate.dialect.PostgreSQLDialect </property>
    <property name="hibernate.connection.driver_class"> org.postgresql.Driver </property>
    <!-- Assume PROSELYTE_TUTORIAL is the database name -->
    <property name="hibernate.connection.url">
        jdbc:postgresql://localhost/HIBERNATE_DEVELOPERS
    </property>
    <property name="hibernate.connection.username">
        postgres
    </property>
    <property name="hibernate.connection.password">
        nigers
    </property>

    <!-- List of XML mapping files -->
    <mapping resource="config/Developer.hbm.xml"/>

</session-factory>
</hibernate-configuration>